<<<<<<< HEAD
<h1>Links</h1>
=======
<h1> Links </h1>
>>>>>>> 444628c095d81645d5c880f0632c27f6e97d3969

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
<<<<<<< HEAD
      URL: <%= link.url %>
    </li>
  <% end %>
</ul>

=======
      URL:   <%= link.url   %>
    </li>
  <% end %>
</ul>
>>>>>>> 444628c095d81645d5c880f0632c27f6e97d3969
