<<<<<<< HEAD
<h3>New Link</h3>
<form action='/links' method='post'>
  <label for="url">
    URL
    <input type="text" name="url">
  </label>
  <label for="title">
    Title
    <input type="text" name="title">
  </label>
  <label for="tags">
    Tags
    <input type="text" name="tags">
  </label>
  <input type="submit" value="Create link">
=======

<h2>Add links to Bookmark Manager</h2>
<br>
<form action="/links" method ="post">
<label for = "title">
  Title: 
  <input type="text" name="title"/> 
</label>
<label for = "url"> 
  URL: 
  <input type="text" name="url"/> 
</label>
<input type="submit" value="Create link">

>>>>>>> 444628c095d81645d5c880f0632c27f6e97d3969
</form>
